<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <appSettings>
    <!-- Configuration API PPG Live -->
    <add key="PPGLiveApiBaseUrl" value="https://ppglive.fr/api" />
    <add key="PPGLiveApiKey" value="" />
    <add key="PPGLiveApiSecret" value="" />
    <add key="ApiTimeoutSeconds" value="30" />
    <add key="MaxRetryAttempts" value="3" />
    <add key="RetryDelayMs" value="1000" />

    <!-- Configuration Sage 50 -->
    <add key="Sage50DatabasePath" value="" />
    <add key="Sage50CompanyCode" value="" />
    <add key="Sage50UserId" value="" />

    <!-- Configuration Logging -->
    <add key="LogLevel" value="INFO" />
    <add key="LogFilePath" value="C:\PPGSage50Plugin\Logs\" />
    <add key="MaxLogFileSizeMB" value="10" />
    <add key="MaxLogFiles" value="5" />

    <!-- Configuration Synchronisation -->
    <add key="AutoSyncCustomers" value="true" />
    <add key="AutoSyncProducts" value="true" />
    <add key="SyncIntervalMinutes" value="60" />
    <add key="LastSyncDate" value="" />

    <!-- Configuration Sécurité -->
    <add key="EnableDataEncryption" value="true" />
    <add key="EncryptionKey" value="" />
    <add key="ValidateSSLCertificates" value="true" />

    <!-- Configuration Interface Utilisateur -->
    <add key="DefaultLanguage" value="fr-FR" />
    <add key="ShowDebugInfo" value="false" />
    <add key="DefaultPageSize" value="50" />
  </appSettings>

  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="false" />
    </settings>
  </system.net>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
